@using Domain.Model.UserInfos
@using Domain.Model.BlogPosts

@{
    ViewBag.Title = "UserProfile";
}

@{List<BlogPost> postsList = (List<BlogPost>) ViewData["ActiveUserPosts"];}
@{List<UserInfo> usersList = (List<UserInfo>) ViewData["UserData"];}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Blog Sitesi</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
    <link href="style.css" rel="stylesheet" type="text/css"/>
</head>
</html>

<body>
    <div id="container">
        <div id="sidebar">
                @foreach (var item in usersList)
                {
                    <h2>
                        @item.UserName
                    </h2>
                }           
            <div class="navlist">
                <ul>
                    @foreach (var item in usersList)
                    {
                        <li>@item.Date</li>
                        <li>@item.Mail</li>
                    }
                </ul>
            </div>
        </div>

        <div id="content">
            <table class="table table-hover" id="ManageTable">
                <tr class="warning">
                    <td><b><u>Yazı Başlığı</u></b></td>
                    <td><b><u>Tarih</u></b></td>
                </tr>
                    @foreach (var item in postsList)
                    {
                        <tr>
                            <td>@Html.ActionLink(item.Title, "ProfileContent", new {id = item.Id, userName = item.UserInfo.UserName}, null)</td>
                            <td>@item.Date</td>
                         </tr>
                    }          
            </table>
        </div>
        <div id="container-foot">
            <div id="footer">
                <p>
                    &copy; 2016 Berkay Sarı | Lisans: <a rel="license" href="http://google.com">google.com</a>
                </p>
            </div>
        </div>
    </div>
</body>