@using Domain.Model.BlogPosts

@{
    ViewBag.Title = "AdminActivePosts";
}

@{List<BlogPost> ActivePosts = (List<BlogPost>)ViewData["ActiveUserPosts"];}

<div class="table-responsive">
<table class="table table-hover">
    <tr>
        <b>>>Yayınlanan içerikler<<</b>
        <div class="float-right"> @Html.ActionLink("Üyeler", "AdminUsers") @Html.ActionLink("Bekleyen Postlar", "AdminNotActivePosts")</div>
    </tr>
    <tr>
        <td><b><u>Kullanıcı Adı</u></b></td>
        <td><b><u>Başlık</u></b></td>
        <td><b><u>Tarih</u></b></td>
        <td><b><u>Yayından Çıkar</u></b></td>
        <td><b><u>Görüntüle</u></b></td>
        <td><b><u>Yorumlar</u></b></td>
        <td><b><u>Sil</u></b></td>
    </tr>

    @foreach (var item in ActivePosts)
    {
        <tr>
            <td>@item.UserInfo.UserName</td>
            <td>@item.Title</td>
            <td>@item.Date</td>
            <td>
                @Html.ActionLink("Yayından Çıkar", "DeactivePostAdmin", new {id = item.Id})
            </td>
            <td>
                @*@Html.ActionLink("Görüntüle", "AdminView", new {id = item.Id, title = ((AdminController) this.ViewContext.Controller).GenerateSlug(item.Title)})*@
            </td>
            <td>
                @Html.ActionLink("Yorumlar", "AdminCommentTitle", new { id = item.Id })
            </td>
            <td>
                @Html.ActionLink("Sil", "ActivePostDelete", new {id = item.Id})
            </td>
        </tr>
    }
</table>
</div>